In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import pprint

# Import API key
from api_keys import api_key

#Import Date and Time library

from datetime import datetime

# datetime object containing current date and time
now = datetime.now()

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output Path for all Output Files

output_path = "../output_data/"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

ModuleNotFoundError: No module named 'api_keys'

In [3]:
df = pd.read_csv("Resources/weather_data.csv")
df.head(20)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Talara,35,PE,1573180153,89,-4.58,-81.27,66.00,19.80
1,Butaritari,30,KI,1573180163,67,3.07,172.79,84.27,6.17
2,Rikitea,93,PF,1573180173,85,-23.12,-134.97,74.07,13.06
3,Busselton,0,AU,1573180184,52,-33.64,115.35,70.32,8.95
4,Ushuaia,75,AR,1573180194,96,-54.81,-68.31,35.60,24.16
5,Shelburne,90,CA,1573179966,92,44.08,-80.20,30.20,3.36
6,Acapulco,5,MX,1573180234,79,16.86,-99.88,84.20,6.93
7,Mataura,37,NZ,1573180244,39,-46.19,168.86,68.45,11.21
8,Lompoc,1,US,1573180254,82,34.64,-120.46,57.20,4.70
9,Punta Arenas,40,CL,1573180264,80,-53.16,-70.91,39.20,17.22
10,Saint George,90,GR,1573180274,93,39.45,22.34,57.20,11.41
11,Quatre Cocos,40,MU,1573180284,78,-20.21,57.76,75.20,12.75
12,Port Hardy,75,CA,1573180204,81,50.70,-127.42,50.00,9.17
13,Margate,75,AU,1573180304,66,-43.03,147.26,48.20,21.92
14,Mar del Plata,0,AR,1573180314,33,-46.43,-67.52,51.98,25.19
15,Huarmey,71,PE,1573180324,82,-10.07,-78.15,61.29,1.48
16,Yenagoa,100,NG,1573180334,95,4.92,6.26,75.87,2.89
17,Hofn,99,IS,1573180227,70,64.25,-15.21,39.24,6.35
18,Bluff,0,AU,1573180198,11,-23.58,149.07,96.24,11.68
19,Hermanus,5,ZA,1573180365,81,-34.42,19.24,59.38,11.30

In [5]:
#render dataframe as html
html = df.to_html()

#write html to file
html_table = open("html_table.html", "w")
html_table.write(html)
html_table.close()